<h1>Editing photo</h1>

<% form_for(:photo,
            :url => photo_url(@photo), 
            :html => { :multipart => true, :method => :put }) do |f| -%>
  <%= f.error_messages %>

    <p>Edit photo details</p>
    <p>Title:<br /><%= f.text_field 'title' %></p>
    <p>Exiting Photo:<br /><%= image_tag @photo.photo.url(:medium) %></p>
    <p>Photo:<br /><%= f.file_field :photo %></p>
    <p><%= f.submit 'Update' %></p>
<% end %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>
